<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>image</key>
		<string>夏婉安 - 六楼.png</string>
		<key>lrc</key>
		<string>夏婉安 - 六楼.lrc</string>
		<key>mp3</key>
		<string>夏婉安 - 六楼.mp3</string>
		<key>name</key>
		<string>六楼</string>
		<key>singer</key>
		<string>夏婉安</string>
		<key>album</key>
		<string>六楼</string>
		<key>type</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>image</key>
		<string>沐子希.png</string>
		<key>lrc</key>
		<string>朋友陪你醉.lrc</string>
		<key>mp3</key>
		<string>朋友陪你醉.mp3</string>
		<key>name</key>
		<string>朋友陪你醉</string>
		<key>singer</key>
		<string>沐子希</string>
		<key>album</key>
		<string>Dj舞曲</string>
		<key>type</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>image</key>
		<string>谢春花 - 借我.png</string>
		<key>lrc</key>
		<string>谢春花 - 借我.lrc</string>
		<key>mp3</key>
		<string>谢春花 - 借我.mp3</string>
		<key>name</key>
		<string>借我</string>
		<key>singer</key>
		<string>谢春花</string>
		<key>album</key>
		<string>借我</string>
		<key>type</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>image</key>
		<string>谢春花.png</string>
		<key>lrc</key>
		<string>谢春花 - 雀斑少女.lrc</string>
		<key>mp3</key>
		<string>谢春花 - 雀斑少女.mp3</string>
		<key>name</key>
		<string>雀斑少女</string>
		<key>singer</key>
		<string>谢春花</string>
		<key>album</key>
		<string>雀斑少女</string>
		<key>type</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>image</key>
		<string>赵雷 - 南方姑娘.png</string>
		<key>lrc</key>
		<string>赵雷 - 南方姑娘.lrc</string>
		<key>mp3</key>
		<string>赵雷 - 南方姑娘.mp3</string>
		<key>name</key>
		<string>南方姑娘</string>
		<key>singer</key>
		<string>赵雷</string>
		<key>album</key>
		<string>赵小雷</string>
		<key>type</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>image</key>
		<string>静静的看着你装逼.png</string>
		<key>lrc</key>
		<string>静静的看着你装逼.lrc</string>
		<key>mp3</key>
		<string>静静的看着你装逼.mp3</string>
		<key>name</key>
		<string>静静的看着你装逼</string>
		<key>singer</key>
		<string>花粥&amp;四四</string>
		<key>album</key>
		<string>亚洲第一奇女子</string>
		<key>type</key>
		<integer>2</integer>
	</dict>
</array>
</plist>
